## Echo Test Interoperability Results
Test run at 2021-02-22 16:40:34.977155

| Server      | Client      |             |
|-------------|-------------|-------------|
|             | werift      | sipsorcery  |
| sipsorcery  | &#x2612;    | &#9745;     |
| aiortc      | &#x2612;    | &#x2612;    |
| werift      | &#9745;     | &#x2612;    |
| pion        | &#x2612;    | &#x2612;    |
