## Echo Test Interoperability Results
Test run at 2021-03-04 10:40:55.112642

| Server      | Client      |             |             |
|-------------|-------------|-------------|-------------|
|             | aiortc      | werift      | sipsorcery  |
| pion        | &#9745;     | &#9745;     | &#9745;     |
| sipsorcery  | &#9745;     | &#9745;     | &#9745;     |
| aiortc      | &#9745;     | &#9745;     | &#9745;     |
| werift      | &#9745;     | &#9745;     | &#9745;     |
