## Echo Test Interoperability Results
Test run at 2021-03-07 08:14:38.478891

| Server      | Client      |             |             |
|-------------|-------------|-------------|-------------|
|             | werift      | aiortc      | sipsorcery  |
| aiortc      | &#9745;     | &#9745;     | &#9745;     |
| pion        | &#9745;     | &#9745;     | &#9745;     |
| sipsorcery  | &#9745;     | &#9745;     | &#9745;     |
| werift      | &#9745;     | &#9745;     | &#9745;     |
