## Echo Test Interoperability Results
Test run at 2021-03-04 09:37:27.937789

| Server      | Client      |             |             |
|-------------|-------------|-------------|-------------|
|             | aiortc      | werift      | sipsorcery  |
| pion        | &#x2612;    | &#x2612;    | &#x2612;    |
| sipsorcery  | &#x2612;    | &#x2612;    | &#9745;     |
| aiortc      | &#9745;     | &#x2612;    | &#x2612;    |
| werift      | &#x2612;    | &#9745;     | &#x2612;    |
